<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ReadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadUserServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ReadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ReadCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ReadStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/ConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProductServlet</servlet-name>
        <url-pattern>/ReadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadUserServlet</servlet-name>
        <url-pattern>/ReadUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCustomerServlet</servlet-name>
        <url-pattern>/ReadCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadStaffServlet</servlet-name>
        <url-pattern>/ReadStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
