<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>iotb.controller.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>iotb.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.CreatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.CreateCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.CreatePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.DisplayCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.DisplayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaypalServlet</servlet-name>
        <servlet-class>iotb.controller.DisplayPaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.UpdateCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.UpdatePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.UpdatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.DeleteCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.DeletePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iotb.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.SearchPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchedPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.SearchedPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.SubmitPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/ConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <url-pattern>/CreatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCreditCardServlet</servlet-name>
        <url-pattern>/CreateCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePaypalServlet</servlet-name>
        <url-pattern>/CreatePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCreditCardServlet</servlet-name>
        <url-pattern>/DisplayCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaymentServlet</servlet-name>
        <url-pattern>/DisplayPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaypalServlet</servlet-name>
        <url-pattern>/DisplayPaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCreditCardServlet</servlet-name>
        <url-pattern>/UpdateCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaypalServlet</servlet-name>
        <url-pattern>/UpdatePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <url-pattern>/UpdatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCreditCardServlet</servlet-name>
        <url-pattern>/DeleteCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaypalServlet</servlet-name>
        <url-pattern>/DeletePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <url-pattern>/SearchPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchedPaymentServlet</servlet-name>
        <url-pattern>/SearchedPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPaymentServlet</servlet-name>
        <url-pattern>/SubmitPaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
