<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ReadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/ConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProductServlet</servlet-name>
        <url-pattern>/ReadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
